# Konfigurasi Aplikasi
FLASK_APP=app.py
FLASK_DEBUG=True
SECRET_KEY=SECRET_KEY_JWT_SERVICE_BUS

# Konfigurasi Database (SQLite)
# Database akan disimpan di folder 'instance'
DATABASE_URL=sqlite:///../instance/bus.db

JWT_SECRET="YOUR_SECRET_KEY_HERE"
JWT_ALGORITHM="HS256"